<!DOCTYPE html>
<html lang="pt-br">
	<%- include('includes/head'); %>
	<body>
		<%- include('includes/nav'); %> <%- include('includes/content'); %> <%- include('includes/footer'); %>
	</body>
</html>
